html
{
    font-family: 'Alice', sans-serif;
    font-size: 20px;
    color: var(--main-color);

    /* --- color --- */
    --main-color: #50854d;
}

.logofa
{
    font-size: 20px;
    color: white;
    margin-right: 15px;
}