html
{
    font-family: 'Alice', sans-serif;
    font-size: 20px;;

    /* --- color --- */
    --main-color: #50854d;
}

.logofa
{
    font-size: 20px;
    color: var(--main-color);
    margin-right: 10px;
}