.footer_maps{
    display: flex;
    flex-direction: column;
    height: 500px;
}

.footer_maps__partie{
    background-color:none;
    height: 50%;
}

.googlemap
{
    width: 100%;
}

.footer_maps__partie__icon_text
{
    display: flex;
}

.fa-solid
{
    color: var(--main-color);
}