/*-- header --*/

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo
{
    width: 400px;
    margin-top: 10px;
}

 /*-- nav --*/ 

.navbar
{
    margin-left: 12%;
    margin-top: 30px;
    font-size: 20px; 
}

.navbar__links
{
    display: flex;
}

.navbar__link
{
    padding: 25px;
    text-decoration: none;
    color: black;
    border-top: 2px solid white;
    font-weight: bold;
}

.navbar__link:hover
{
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

.navbar__link_contact
{
    margin-left: 100px;
}